.flex
    display: flex

    &-space-between
        justify-content: space-between

    &-space-around
        justify-content: space-around

    &-align-center
        align-items: center

    &-direction
        &-row
            flex-direction: row
            
        &-column
            flex-direction: column