.height-100vh
    height: 100vh

.height-95vh
    height: 95vh

.no-margin-bottom
    margin-bottom: 0

.layout
    @extend .flex
    height: 100vh
    &__menu
        width: $layout-menu-width
        max-width: $layout-menu-width
        min-width: $layout-menu-width
        background-color: $layout-menu-background-color
    &__body
        width: 100%
    &__settings
        top: 0
        right: 0
        z-index: 100
        position: absolute
        @extend .height-100vh
        background-color: #fff
        width: 0
        overflow: hidden
        transition: width .25s ease
        &.in
            width: calc(100% - 250px)
