$primary-color: teal
$layout-menu-width: 250px
$layout-menu-background-color: #222

@import ./flex
@import ./menu
@import ./layout
@import ./scrollbars


.column
    @extend .height-95vh
    @extend .no-margin-bottom
    &-margin-top
        margin-top: 2.5vh

.contact-list
    @extend .flex    
    @extend .column
    @extend .flex-direction-column
    @extend .column-margin-top

.scrollable
    overflow-y: scroll

.list-group-item-hover
    cursor: pointer
    &:hover
        color: #555
        background-color: #f5f5f5

.text-truncate
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.contact-image
    width: 50px
    height: 50px
    object-fit: cover

.contact-status
    width: 12px
    height: 12px
    background-color: $primary-color
    position: absolute
    bottom: 0
    right: 0
    border-radius: 100%

.contact
    position: relative

.textarea
    width: 100%
    min-width: 100%
    max-width: 100%
    resize: none

.contact-form
    height: 100%    

.grow
    flex-grow: 1
    flex-shrink: 1
    flex-basis: auto

.form-group:last-child
    @extend .no-margin-bottom

.fake_message
    background-color: #ededed
    height: 500px

ul.list-group > li.list-group-item.message-unread
    border-left: 5px solid $primary-color

.message-iframe
    width: 100%
    height: 100%
    border: 0

.menu-icon-margin
    margin-right: 10px

.no-border
    border-radius: 0