.menu
    &__icon
        font-size: 12px
        margin-right: 15px
        color: $primary-color

.nav > li > a
    color: #666
    &:hover
        color: whitesmoke
        background-color: darken($layout-menu-background-color, 5%)
    &:visited
        background-color: darken($layout-menu-background-color, 5%)

.list-group-hover .list-group-item:hover
    cursor: pointer
    background-color: #f5f5f5

.ql-toolbar,
.ql-container
    border-color: #ecf0f1 !important

.ql-bold, 
.ql-italic,
.ql-underline,
.ql-strike,
.ql-list,
.ql-script,
.ql-blockquote,
.ql-indent,
.ql-direction,
.ql-color-picker,
.ql-align
    .ql-fill
        fill: #18bc9c
    .ql-stroke
        stroke: #18bc9c
    &:hover
        .ql-stroke
            stroke: #0e6f5c !important
        .ql-fill
            fill: #0e6f5c !important

.ql-active
    .ql-stroke
        stroke: #2c3e50 !important
    .ql-fill
        fill: #2c3e50 !important