::-webkit-scrollbar
    width: 5px
    background-color: #ededed
    &-thumb
        background-color: #dedede
        &:hover
            background-color: #ccc
        &:active
            background-color: #bbb